:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 var(--mp-paragraph-margin-bottom, inherit);
  padding: 0;
  font-size: var(--mp-paragraph-font-size, initial);
  line-height: var(--mp-paragraph-line-height, initial);
  letter-spacing: var(--mp-paragraph-letter-spacing, initial);
  font-family: var(--mp-paragraph-font-family, initial);
  color: var(--mp-paragraph-color, initial);
  font-weight: var(--mp-paragraph-font-weight, initial);
}

::slotted(*) {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  margin: 0;
  padding:0;
}

:host([lead=true]) {
  --mp-paragraph-font-size: var(--mp-paragraph-lead-font-size);
}
