body {
  margin: 0px;
  padding: 0px;
  baseline-grid-overlay: 24px hsla(280, 50%, 30%, .1) 9999;
  /* font-family: sans-serif; */
}
/*
p {
  @mixin p;
}

p.lead {
  @mixin p-lg;
}

h1 {
  @mixin h1;
}

h2 {
  @mixin h2;
}

h3 {
  @mixin h3;
}

h4 {
  @mixin h4;
}

h5 {
  @mixin h5;
}

h6 {
  @mixin h6;
} */
