@define-mixin text-base {
  font-family: var(--font-family, sans-serif);
  font-weight: var(--font-weight-regular, inherit);
}


/*
--font-size-1: 10px;
--letter-spacing-1: 0.4px;
--line-height-1: 10px;

--font-size-2: 12px;
--letter-spacing-2: -0.3px;
--line-height-2: 16px;

--font-size-3: 14px;
--letter-spacing-3: -0.4px;
--line-height-3: 18px;

--font-size-4: 16px;
--letter-spacing-4: -0.5px;
--line-height-4: 20px;

--font-size-5: 18px;
--letter-spacing-5: -0.6px;
--line-height-5: 24px;

--font-size-6: 24px;
--letter-spacing-6: -1px;
--line-height-6: 30px;

--font-size-7: 30px;
--letter-spacing-7: -1.5px;
--line-height-7: 36px;

--font-size-8: 36px;
--letter-spacing-8: -2px;
--line-height-8: 40px; */

@define-mixin text-xxs {
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 10px;
}

@define-mixin text-xs { /* When television was: */
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 16px;
}

@define-mixin text-sm { /* When television was: */
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 18px;
}

@define-mixin text-md { /* When television was: */
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 20px;
}

@define-mixin text-lg { /* When television was: */
  font-size: 18px;
  letter-spacing: -0.6px;
  line-height: 24px;
}

@define-mixin text-xl {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 30px;
}

/* 30 pt Headline 2: */
@define-mixin text-xxl {
  font-size: 30px;
  letter-spacing: -1.5px;
  line-height: 36px;
}

/* 36 pt Headline 1: */
@define-mixin text-xxxl {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 40px;
}




@define-mixin paragraph-base { /* When television was: */
  color: var(--text-color, inherit);
}


/* 36 pt Headline 1: */
@define-mixin heading-base {
  font-family: var(--font-family, sans-serif);
  font-weight: var(--font-weight-regular, inherit);
  color: var(--text-color-heading, inherit);
}

@define-mixin h4-semi {
  @mixin h4;
  font-weight: var(--font-weight-semibold);
}

/* 16 pt Headline 5: */
@define-mixin h5 {
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 20px;
}

/* 14 pt Headline 6: */
@define-mixin h6 {
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 18px;
}


@define-mixin h7 {/* 12 pt Headline 7: */
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 16px;
}

@define-mixin h8 {
  font-weight: var(--font-weight-bold);
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 10px;
  text-transform: uppercase;
}
