:root {

  /* Colors */
  --gray-1: #232323;
  --gray-2: #707070;
  --gray-3: #B2B2B2;
  --gray-4: #F2F2F2;


  --blue: #0072CA;
  --red: #E23E57;
  --green: #40BE65;

  /* Typography */
  --font-family: "Hind Vadodara";

  /* --text-color: var(--gray-2); */

  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 24px;
  --font-size-7: 30px;
  --font-size-8: 36px;

  --letter-spacing-1: 0.4px;
  --letter-spacing-2: -0.3px;
  --letter-spacing-3: -0.4px;
  --letter-spacing-4: -0.5px;
  --letter-spacing-5: -0.6px;
  --letter-spacing-6: -1px;
  --letter-spacing-7: -1.5px;
  --letter-spacing-8: -2px;


  --line-height-1: 12px;
  --line-height-2: 24px;
  --line-height-3: 36px;
  --line-height-4: 48px;
  /* --line-height-5: 24px; */
  --line-height-6: 30px;
  --line-height-7: 36px;
  --line-height-8: 48px;

  --font-weight-thin:	100;
  --font-weight-extra-light:	200;
  --font-weight-light:	300;
  --font-weight-regular:	400;
  --font-weight-medium:	500;
  --font-weight-semi-bold:	600;
  --font-weight-bold:	700;
  --font-weight-extra-bold:	800;
  --font-weight-black:	900;

  /* mp-paragraph */
  --mp-paragraph-margin-bottom: var(--line-height-2);
  --mp-paragraph-font-family: var(--font-family);
  --mp-paragraph-color: var(--gray-2);
  --mp-paragraph-font-size: var(--font-size-4);
  --mp-paragraph-line-height: var(--line-height-2);
  --mp-paragraph-letter-spacing: var(--letter-spacing-4);
  --mp-paragraph-font-weight: var(--font-weight-regular);

  --mp-paragraph-lead-font-size: var(--font-size-5);
  --mp-paragraph-lead-line-height: var(--line-height-2);
  --mp-paragraph-lead-letter-spacing: var(--font-size-5);

  /* mp-heading */
  --mp-heading-font-family: var(--font-family);
  --mp-heading-color: var(--gray-1);
  --mp-heading-font-size: var(--font-size-8);
  --mp-heading-line-height: var(--line-height-8);
  --mp-heading-letter-spacing: var(--letter-spacing-8);
  --mp-heading-font-weight: var(--font-weight-light);

  /* --mp-heading-font-weight: var(--font-weight-regular); */

}
