mp-journal-post {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: var(--line-height-2);
}

header *:first-child,
.mp-article-body *:first-child {
  margin-top: 0;
}
header *:last-child,
.mp-article-body *:last-child {
  margin-bottom: 0;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  /* Rectangle 137 Copy 3: */
  box-sizing: border-box;
  height: 0;
  overflow: visible;
  border-top-color: var(--gray-4);
  margin-left: var(--line-height-2);
  margin-right: var(--line-height-2);
}

.mp-article-body {
  padding: var(--line-height-2);
}

.mp-article-info {
  /* Jan 16, 03:41 pm: */
  font-family: var(--font-family);
  font-size: var(--font-size-3);
  color: var(--gray-3);
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--font-size-6);
}
