:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 var(--line-height-2, inherit);
  padding:0;
  font-size: var(--mp-heading-font-size, initial);
  line-height: var(--mp-heading-line-height, initial);
  letter-spacing: var(--mp-heading-letter-spacing, initial);
  font-family: var(--mp-heading-font-family, initial);
  color: var(--mp-heading-color, initial);
  font-weight: var(--mp-heading-font-weight, initial);
}

::slotted(*) {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  margin: 0;
  padding:0;
}

::slotted(h1, h2, h3, h4, h5, h6) {
  /* font-family: var(--mp-heading-font-family, initial); */
}
